<script setup>
  import { ref } from 'vue';

  const show1 = ref(false)
  const rules = ref({
    required: value => !!value || 'Required.',
    min: v => v.length >= 8 || 'Min 8 characters',
    emailMatch: () => `The email and password you entered don't match`,
  })

  const props = defineProps({
    field_id:{
      type: String,
      default:"password"
    },
    label:{
      type: String,
      default: "Password"
    }
  });
  

  const emit = defineEmits(['passwordModel'])

</script>
<template>
    <v-text-field
        :append-inner-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
        :rules="[rules.required, rules.min]"
        :type="show1 ? 'text' : 'password'"
        :label="label"
        hint="1 Mayus, 1 Number and at least 8 characters"
        counter
        @click:append-inner="show1 = !show1"
        variant="outlined"
        :id=field_id
        @input="emit('passwordModel', $event.target.value)"
    ></v-text-field>
</template>
