<script setup>
  import { ref } from 'vue';
  import logoVUE from '@/assets/images/vuelogo.png';
  import logoVuetify from '@/assets/images/vuetifylogo.png';
  import logoFastAPI from '@/assets/images/fastapi.png';
  import logoPython from '@/assets/images/pythonlogo.png';

  const items = ref(
      [
        { 
          src:logoVUE,
          titulo:'Vue',
          texto:"Vue es un framework versatil y poderoso que permite realizar paginas webs",
          class:"resize-logo",
          class2:"bg-green-lighten-1"
        },
        { 
          src:logoVuetify,
          titulo:'Vuetify',
          texto:'Vuetify es un framework de estilos para crear hermosos disenos',
          class:"resize-logo",
          class2:"bg-light-blue-lighten-3"
        },
        { 
          src:logoFastAPI,
          titulo:'FastAPI',
          texto:'FastAPI framework, high performance, easy to learn, fast to code, ready for production',
          class:"",
          class2:"bg-teal-lighten-3"
        },
        { 
          src:logoPython,
          titulo:'Python',
          texto:'Python is a programming language that lets you work quickly and integrate systems more effectively. ',
          class:"",
          class2:"bg-lime-accent-2"
        }, 
      ]
  )
</script>

<template>
    <v-container fluid class="fill-height flex-column">
        <v-row justify="center" align="center" class="pb-10">
            <v-col>
                <div class="text-h2 text-center">
                    About Page
                </div>
            </v-col>
        </v-row>
        <v-row no-gutters>
          <v-col
            v-for="item in items"
            :key="item"
            cols="12"
            sm="3"
          >
            <v-card
            class="ma-2"
            :class="item.class2"
            width="300"
            height="250"
            :title="item.titulo"
            :text="item.texto"
          >
            <v-img :src="item.src" :class="item.class" max-height="125" ></v-img>
          </v-card>
        </v-col>
    </v-row>
    </v-container>
</template>
