<template>
    <v-container class="fill-height" fluid justify="center" align="center"> 
        <v-row>
            <v-col>
                <div class="text-h4">Soy forgot password</div>
                <v-btn to="/login">
                    Volver
                </v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>