<script setup>    
    //<img src="https://cdn.vuetifyjs.com/images/parallax/material.jpg" />
    import logoAPP from '@/assets/images/logo2.png';
</script>

<template>
    <v-container class="fill-height" fluid>
        <v-row justify="center" align="center">
            <v-col class="shrink">
                <div class="text-h1">PlatIoT</div>
            </v-col>
            <v-spacer></v-spacer>
            <v-col>
                <div class="text-h3">Welcome, to the IoT World.</div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
</script>