<script setup>

    import { useMutation} from '@tanstack/vue-query'
    import { fetchCreateSession } from '@/api/users.js'
    import { ref } from 'vue';
    import { openErrorDialog } from '../../helpers/GeneralHelper';
    import { useUserStore } from '@/stores/userstore'
    import { useRouter } from 'vue-router';

    const username = ref('');
    const password = ref('');
    const store = useUserStore()
    const { login } = store
    const router = useRouter()

    //mutation
    const { mutate } = useMutation({
        mutationFn:fetchCreateSession,
        onError: (error, variables, context) => {
            openErrorDialog(error)
        },
    });

    function tryLogin(){
        var userForm = {
            'email': username.value,
            'password': password.value
        }
        mutate(userForm,{
            onSuccess: (data, variables, context) => {
                if (login(data.access_token))
                {
                    router.push('/homepage')
                    
                }else{
                    openErrorDialog('Could not login');
                }
            }
        })
    }
    //headers: {Authorization: 'Bearer {token}'}
</script>

<template>
    <v-container align="center" justify="center" class="fill-height">
        <v-row>
            <v-col>
                <v-sheet width="400" class="pa-5 mx-auto">
                    <v-form @submit.prevent>
                        <v-row>
                            <v-col>
                                <div class="text-h4 pb-3">Login PlatIoT</div>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field label="Email" v-model="username" variant="outlined"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field
                                    v-model="password"
                                    :append-inner-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                    :rules="[rules.required, rules.min]"
                                    :type="show1 ? 'text' : 'password'"
                                    name="input-10-1"
                                    label="Password"
                                    hint="At least 8 characters"
                                    counter
                                    @click:append-inner="show1 = !show1"
                                    variant="outlined"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row justify="end" class="mt-0 pt-0 pb-3">
                            <v-col cols="6">
                                <v-btn variant="plain" to="/forgotpassword">Forgot Password?</v-btn>
                            </v-col>
                        </v-row>
                        <v-btn type="submit" @click="tryLogin" variant="outlined" color="primary" block class="mt-2">Sign in</v-btn>
                    </v-form>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
  export default {
    data() {
      return {
        show1: false,
        show2: true,
        password: '',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
        },
      }
    },
  }
</script>