<template>
    <v-container justify-center>
        <v-row>
            <v-col cols="12" xs="12" justify="center" align="center">
                <div class="text-h1 white--text" >404 - Not Found <v-icon class="text-h1" color="#172B4D" >mdi-emoticon-dead-outline</v-icon></div> 
            </v-col>
            <v-col cols="12" xs="12" justify="center" align="center">
                <div class="text-h5 white--text">Lo sentimos, pagina solicitada no ha sido encontrada.</div>
            </v-col>
            <v-col cols="12" xs="12" justify="center" align="center">
                <v-btn id="btn_volver_home" link to="/" class="white--text">Volver</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>