<script setup>
    import { useMutation, useQueryClient } from '@tanstack/vue-query'
    import { ref } from 'vue';
    import PasswordField from '@/components/input/PasswordField.vue';
    import { fetchCreateUser }from '@/api/users';
    import { openErrorDialog,openSuccessDialog } from '../../helpers/GeneralHelper';

    //Username Data
    const username = ref('')
    const email = ref('')
    const last_name = ref('')
    const password = ref('')
    const password2 = ref('')
    const form=ref()
    const emailRules = [
        value => {
            if (/.+@.+\..+/.test(value)) return true

            return 'E-mail must be valid.'
        },
    ]

    const regexPassword = /^(?=.*[A-Z])(?=.*\d).{8,}$/

    const password2_rules = [
        value => {
            if(regexPassword.test(value)) return true

            return 'Password field MUST have 1 Mayus, 1 Number and at least 8 characters'
        },
        value => {
            if (password.value == value) return true

            return 'Password field must match'
        }
    ]

    const password_rules = [
        value => {
            if(regexPassword.test(value)) return true

            return 'Password field MUST have 1 Mayus, 1 Number and at least 8 characters'
        },
    ]

    const nameRules = [
        value => {
            if (value) return true

            return 'You must enter a first name.'
        }
    ]
    //mutation
    const { isLoading, isError, error, isSuccess, data, mutate } = useMutation({
        mutationFn:fetchCreateUser,
        onError: (error, variables, context) => {
            openErrorDialog(error)
            form.value.resetValidation()
        },
        onSuccess: (data, variables, context) => {
            openSuccessDialog(data)
            form.value.reset()
        },
    });

    function addUser() {        
        mutate(
            {
                name: username.value,
                password: password.value,
                last_name: last_name.value,
                email: email.value,
            }
        )
    }

    function updatePasswordValue(data)
    {
        password.value = data
    }
    function updatePasswordValue2(data)
    {
        password2.value = data
    }

</script>

<template>
    <v-container align="center" justify="center" class="fill-height">
        <v-row>
            <v-col>
                <v-sheet width="400" class="pa-5 mx-auto">
                    <v-form @submit.prevent ref="form">
                        <v-row>
                            <v-col>
                                <div class="text-h4 pb-3">Registration</div>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field label="Email" id="email" variant="outlined" v-model="email" :rules="emailRules"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field label="Name" id="username" variant="outlined" v-model="username" :rules="nameRules"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field label="Last Name" id="last_name" variant="outlined" v-model="last_name"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <PasswordField @password-model="updatePasswordValue" :rules="password_rules"/>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <PasswordField field_id="password2" label="Repeat password" @password-model="updatePasswordValue2" :rules="password2_rules"/>
                            </v-col>
                        </v-row>
                        <v-btn type="submit" variant="outlined" color="primary" block class="mt-2" @click="addUser">Register</v-btn>
                    </v-form>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>
