<script setup>
    const props = defineProps(['device']);
    const emits = defineEmits(['close','delete']);    
</script>

<template>
    <v-dialog width="500" height="600">
        <v-card>
            <v-card-title>Delete Device</v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col>Do you want to delete this device?</v-col>
                    </v-row>
                    <v-row>
                        <v-col>{{ device.name }}</v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                color="blue-darken-1"
                variant="text"
                @click ="emits('close')"
                >
                Close
                </v-btn>
                <v-btn
                color="red"
                variant="text"
                @click = "emits('delete')"
                >
                Delete.
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>