<script setup>
  import { useQuery,useQueryClient } from '@tanstack/vue-query';
  import { fetchDevicesList } from '@/api/devices';

  const emit = defineEmits(['deleteDevice','updateDevice']);
  const { isSuccess, isError, data, error } = useQuery({ queryKey: ['devices'], queryFn: fetchDevicesList });

</script>

<template>
    <v-table>
    <thead>
      <tr>
        <th class="text-left font-weight-bold">
          Name
        </th>
        <th class="text-left font-weight-bold">
          Protocol
        </th>
        <th class="text-left font-weight-bold">
          Edit Device
        </th>
        <th class="text-left font-weight-bold">
          Delete Device
        </th>
      </tr>
    </thead>
    <tbody v-if="isSuccess">
        <tr
        v-for="item in data"
        :key="item.id"
        >
        <td>{{ item.name }}</td>
        <td>{{ item.device_data_type }}</td>
        <td> <v-btn color="primary" @click="emit('updateDevice',item)" prepend-icon="mdi-check-circle">Edit</v-btn></td>
        <td> <v-btn color="warning" @click="emit('deleteDevice',item)" prepend-icon="mdi-delete-circle">Delete</v-btn> </td>
      </tr>
    </tbody>
  </v-table>
  <div>
    <span v-if="isError"> {{ error.message }}</span>
  </div>
</template>