<script setup>
    import { ref } from 'vue';

    const emits = defineEmits(['close','save']);
    const name = ref('');
    const protocol = ref('');

</script>

<template>
    <v-dialog width="500" height="600">
        <v-card>
            <v-card-title>
                <span class="text-h5">New Device</span>
            </v-card-title>
        <v-card-text>
            <v-container>
                <v-row>
                    <v-col>
                        <v-text-field
                        required
                        label="Name*"
                        clearable
                        v-model="name"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-select
                        :items="['temp','hum']"
                        label="Data Type*"
                        required
                        v-model="protocol"
                        ></v-select>
                    </v-col>
                </v-row>
            </v-container>
            <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="blue-darken-1"
            variant="text"
            @click="emits('close')"
            >
            Close
            </v-btn>
            <v-btn
            color="green"
            variant="text"
            @click="emits('save',[name,protocol])"
            >
            Save
            </v-btn>
        </v-card-actions>
        </v-card>
    </v-dialog>
</template>