<script setup>
    const props = defineProps(['device']);
    const emits = defineEmits(['close','update','name','protocol']);    
</script>

<template>
    <v-dialog width="500" height="600">
        <v-card>
            <v-card-title>
                <span class="text-h5">Device Info</span>
            </v-card-title>
        <v-card-text>
            <v-container>
                <v-row>
                    <v-col>
                        <v-text-field
                        required
                        label="Name*"
                        @input="emits('name',$event.target.value)"
                        clearable
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-select
                        :items="['temp','hum']"
                        label="Data Type*"
                        required
                        @update:modelValue="emits('protocol',$event)"
                        ></v-select>
                    </v-col>
                </v-row>
            </v-container>
            <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="blue-darken-1"
            variant="text"
            @click="emits('close')"
            >
            Close
            </v-btn>
            <v-btn
            color="green"
            variant="text"
            @click="emits('update')"
            >
            Save
            </v-btn>
        </v-card-actions>
        </v-card>
    </v-dialog>
</template>