<script setup>
    import Table from '@/components/visual/dashboards/Table.vue';
    import DeleteDialog from '@/components/visual/dashboards/DeleteDialog.vue';
    import UpdateDialog from '@/components/visual/dashboards/UpdateDialog.vue';
    import NewDialog from '@/components/visual/dashboards/NewDialog.vue'
    import { useMutation,useQueryClient } from '@tanstack/vue-query';
    import { fetchDeleteDashboard,fetchUpdateDashboard,fetchNewDashboard } from '@/api/dashboards';
    import { ref } from 'vue';
    import { useWorkAreaStore } from '@/stores/workareastore';
    import { useRouter } from 'vue-router';

    //ROUTER
    const router = useRouter()

    //PINIA STORE
    const storeWorkArea = useWorkAreaStore()
    const { storeCreateDashboard } = storeWorkArea

    // VUE QUERY
    const queryClient = useQueryClient()

    const deleteStatus = ref(false);
    const updateStatus = ref(false);
    const newDashboardVModel = ref(false);
    const newDashboardKey = ref(0);

    /* local dashboard to use in edit/delete forms */
    const Dashboard = ref({
        id: -1,
        name: '',
        description: '',
        new_name: '',
        new_description:'',
        reset(){
            this.id = -1;
            this.name = '';
            this.description = '';
            this.new_name = '';
            this.new_description = '';
        },
        resetNewNameAndDescription(){
            this.new_name = '';
            this.new_description = '';
        }
    });


    const deleteDashboardMutation = useMutation({
        mutationFn: fetchDeleteDashboard,
        onSuccess: () => {
            queryClient.invalidateQueries({ queryKey: ['dashboards'] });
            deleteStatus.value = false;
        },
        onSettled: () =>{
            Dashboard.value.reset()
        }
    });

    const newDashboardMutation = useMutation({
        mutationFn: fetchNewDashboard,
        onSuccess: () => {
            queryClient.invalidateQueries({ queryKey: ['dashboards'] });
            newDashboardVModel.value = false;
            newDashboardKey.value += 1
        }
    })

    const updateDashboardMutation = useMutation({
      mutationFn: fetchUpdateDashboard,
      onSuccess: () =>{
        queryClient.invalidateQueries({ queryKey: ['dashboards'] });
        updateStatus.value = false;
        Dashboard.value.resetNewNameAndDescription()
      },
      onSettled: () => {
        Dashboard.value.reset()
      }
    });

    function openDialog(dashboard, isUpdate = true)
    {
        Dashboard.value = {...dashboard};
        isUpdate ? updateStatus.value = true : deleteStatus.value = true;
    }

    function update()
    {
        if (Dashboard.value.new_name === null || Dashboard.value.new_name === '')
        {
            console.log('Nombre de dashboard no valido');
            console.log(Dashboard.value.new_name)
            return false;
        }

        updateDashboardMutation.mutate({
                        id: Dashboard.value.id,
                        name: Dashboard.value.new_name,
                        description: Dashboard.value.new_description
                        });
    }

    function save(newDashboard)
    {
        if (!newDashboard[0])
        {
            return false;
        }

        newDashboardMutation.mutate({
            name: newDashboard[0],
            description: newDashboard[1]
        });
    }

    function customize(dashboard)
    {
        storeCreateDashboard(dashboard)
        router.push({ name: 'Desktop'})
    }
</script>

<template>
    <v-container>
        <v-row>
            <v-col>
                <div class="text-h4">
                    <span>Dashboards</span>
                </div>    
            </v-col>
            <v-col>
                <div class="text-end">
                    <v-btn prepend-icon="mdi-plus" color="success" @click="newDashboardVModel = true">
                            New Dashboard
                    </v-btn>
                </div>    
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <Table 
                    @update-dashboard="dashboard => openDialog(dashboard)"
                    @delete-dashboard="dashboard => openDialog(dashboard,false)"    
                    @customize-dashboard="dashboard => customize(dashboard)"
                />
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <!-- Dialog que emite eventos cuando se cierra o elimina una dashboard -->
                <DeleteDialog 
                    v-model="deleteStatus" 
                    :dashboard="Dashboard"
                    @close = "deleteStatus = false"
                    @delete = "deleteDashboardMutation.mutate({ id: Dashboard.id })"
                    />
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <!-- Dialog que emite eventos cuando se cierra o actualiza una dashboard -->
                <UpdateDialog
                    v-model="updateStatus"
                    :dashboard="Dashboard"
                    @close = "updateStatus = false"
                    
                    @update ="update()"
                    @name="updatedName => Dashboard.new_name = updatedName"
                    @description="updatedProt => Dashboard.new_description = updatedProt"
                />
                <!-- Cuando se escribe/selecciona en los inputs se emite su valor y se guardia en las vars  -->
            </v-col>
        </v-row>
        <v-row>
        <v-row>
            <v-col>
                <NewDialog 
                    v-model="newDashboardVModel"
                    @close ="newDashboardVModel = false"
                    @save = "(newDashboard) => save(newDashboard)"
                    :key ="newDashboardKey"
                />
                <!-- la propiedad :key se usa para reiniciar el componente(trucazo) -->
            </v-col>
        </v-row>
        </v-row>
    </v-container>
</template>