<script setup>
    import DevicesTable from '@/components/visual/devices/DevicesTable.vue';
    import DeleteDialog from '@/components/visual/devices/DeleteDialog.vue';
    import UpdateDialog from '@/components/visual/devices/UpdateDialog.vue';
    import NewDialog from '@/components/visual/devices/NewDialog.vue';
    import { useMutation,useQueryClient } from '@tanstack/vue-query';
    import { fetchDeleteDevice,fetchUpdateDevice,fetchNewDevice } from '@/api/devices';
    import { ref } from 'vue';

    const queryClient = useQueryClient()

    const deleteDeviceMutation = useMutation({
      mutationFn: fetchDeleteDevice,
      onSuccess: () =>{
        queryClient.invalidateQueries({ queryKey: ['devices'] });
        deleteStatus.value = false;
      },
      onSettled: () => {
        Device.value.reset()
      }
    });

    const updateDeviceMutation = useMutation({
      mutationFn: fetchUpdateDevice,
      onSuccess: () =>{
        queryClient.invalidateQueries({ queryKey: ['devices'] });
        updateStatus.value = false;
        newDeviceName.value = null;
        newDeviceProt.value = null;
      },
      onSettled: () => {
        Device.value.reset()
      }
    });

    const newDeviceMutation = useMutation({
        mutationFn: fetchNewDevice,
        onSuccess: () => {
            queryClient.invalidateQueries({ queryKey: ['devices'] });
            newDeviceVModel.value = false;
            newDeviceKey.value += 1
        }
    })

    const deleteStatus = ref(false);
    const updateStatus = ref(false);
    const newDeviceName = ref(null);
    const newDeviceProt = ref(null);
    const newDeviceVModel = ref(false);
    const newDeviceKey = ref(0);

    /* local device to use in edit/delete forms */
    const Device = ref({
        id: -1,
        name: '',
        reset(){
            this.id = -1;
            this.name = '';
        }
    });

    function openDialog(device, isUpdate = true)
    {
        Device.value = device;
        isUpdate ? updateStatus.value = true : deleteStatus.value= true;
    }
    
    function updateDevice()
    {
        if (newDeviceName.value === null || newDeviceName.value === '')
        {
            console.log('Nombre del dispositivo no valido');
            return false;
        }
        
        if (newDeviceProt.value === null || newDeviceProt.value === '')
        {
            console.log('Protocolo del dispositivo no valido');
            return false;
        }

        updateDeviceMutation.mutate({
                        id: Device.value.id,
                        name: newDeviceName.value,
                        device_data_type: newDeviceProt.value
                        });
    }

    function saveDevice(newDevice)
    {
        if (newDevice.includes(''))
        {
            return false;
        }

        newDeviceMutation.mutate({
            name: newDevice[0],
            device_data_type: newDevice[1]
        })
    }

</script>

<template>
    <v-container>
        <v-row>
            <v-col>
                <div class="text-h4">
                    <span>Devices</span>
                </div>    
            </v-col>
            <v-col>
                <div class="text-end">
                    <v-btn prepend-icon="mdi-plus" color="success" @click="newDeviceVModel = true">
                            New Device
                    </v-btn>
                </div>    
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-sheet>
                    <!-- Tabla que usa useQuery para mostrar todos los dispositivos del usuario
                        emite 2 eventos, para abrir dialogs de editar y eliminar
                    -->
                    <DevicesTable 
                        @update-device="device => openDialog(device)" 
                        @delete-device="device => openDialog(device,false)"/>
                </v-sheet>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <!-- Dialog que emite eventos cuando se cierra o elimina un dispositivo -->
                <DeleteDialog 
                    v-model="deleteStatus" 
                    :device="Device"
                    @close = "deleteStatus = false"
                    @delete = "deleteDeviceMutation.mutate({ id: Device.id })"
                    />
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <!-- Dialog que emite eventos cuando se cierra o actualiza un dispositivo -->
                <UpdateDialog
                    v-model="updateStatus"
                    :device="Device"
                    @close = "updateStatus = false"
                    
                    @update ="updateDevice()"
                    @name="updatedName => newDeviceName = updatedName"
                    @protocol="updatedProt => newDeviceProt = updatedProt"
                />
                <!-- Cuando se escribe/selecciona en los inputs se emite su valor y se guardia en las vars  -->
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <NewDialog 
                    v-model="newDeviceVModel"
                    @close ="newDeviceVModel = false"
                    @save = "(newDevice) => saveDevice(newDevice)"
                    :key ="newDeviceKey"
                />
                <!-- la propiedad :key se usa para reiniciar el componente(trucazo) -->
            </v-col>
        </v-row>
    </v-container>
</template>
