<script setup>
import { ref } from 'vue';
import MiniCharts from '../../components/visual/MiniCharts.vue';
import { useUserStore } from '@/stores/userstore'
import { storeToRefs } from 'pinia';
import Stadistics from '../../components/visual/Stadistics.vue';

const store = useUserStore()
const { user } = storeToRefs(store)

const recent = ref([
    {
        headline:"Ultima Dashboard",
        text:"Sin Información",
        class:"green-darken-1"
    },
    {
        headline:"Ultimo Dispositivo",
        text:"Sin Información",
        class:"brown-darken-1"
    },   
])
</script>

<template>
    <v-container id="containerHomepage" fluid>
        <v-row>
            <v-col>
                <v-sheet class="pa-2 ma-2">
                    Bienvenido, {{ user.name + ' '+ user.last_name}}
                    <v-divider></v-divider>
                    <Stadistics />
                </v-sheet>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-sheet class="pa-2 ma-2">
                    <div>
                        Actividad Reciente
                    </div>
                    <v-divider></v-divider>
                    <MiniCharts :number="3" :object="recent"/>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>

<style scoped>
#containerHomepage{
    height: 100% !important;
}
</style>

