<script setup>
    import { storeToRefs } from 'pinia';
    import { useDashDrawerStore } from '../../stores/dashstore';
    import { ref } from 'vue';
    import { useUserStore } from '@/stores/userstore'
    
    const store = useDashDrawerStore()
    const { drawer } = storeToRefs(store)

    const userStore = useUserStore()
    const { user } = storeToRefs(userStore)
    const { isValidSession } = userStore
    const itemsList = ref([
        {
            title:"Sensores de Temperatura",
            icon:"mdi-thermometer"
        },
        {
            title:"Sensores de Humedad",
            icon:"mdi-water-percent"
        },
        {
            title:"",
            icon:""
        }
    ])
</script>

<template>
    <v-navigation-drawer v-model="drawer"
        theme="dark">
        <template v-slot:prepend>
          <v-list-item
            lines="two"
            prepend-avatar="https://randomuser.me/api/portraits/women/81.jpg"
            :title="user.name"
            :subtitle="isValidSession() ? 'Conectado':'No conectado'"
          ></v-list-item>
        </template>
        <v-divider></v-divider>
        <v-list-item link title="Home" prepend-icon="mdi-home" to="/homepage"></v-list-item>
        <v-list-item link title="Dashboards" prepend-icon="mdi-view-dashboard" to="/homepage/dashboards"></v-list-item>
        <v-list-item link title="Dispositivos" prepend-icon="mdi-chip" to="/homepage/devices"></v-list-item>
        <v-divider></v-divider>
        <v-list-item link title="Cuenta" prepend-icon="mdi-cogs" to="/homepage/me"></v-list-item>
        <v-list-item link title="About" to="/homepage/about" prepend-icon="mdi-help-circle"></v-list-item>
    </v-navigation-drawer>
</template>

<script>

export default {
  data: () => ({
    drawer:true
  })
}
</script>