<script setup>
    import { ref } from 'vue';
    import { useDashDrawerStore } from '@/stores/dashstore';
    import { useUserStore } from '@/stores/userstore'
    import { storeToRefs } from 'pinia';

    const appName = import.meta.env.VITE_APP_NAME
    const userStore = useUserStore()
    const drawerStore = useDashDrawerStore()

    const { user } = storeToRefs(userStore)
    const { logout } = userStore

    const { changeStatus } = drawerStore;

    const items = ref([
        { title: 'Account', icon:'mdi-account', link:'/homepage/me' },
    ]);

    const ItemsBarra = ref([
        {
            name:"Home",
            icon:"mdi-home",
            link:"/homepage",
            size:"medium"
        },
    ]);




</script>

<template>
    <v-app-bar>
        <template v-slot:prepend>
          <v-icon @click.stop="changeStatus" icon="mdi-menu"></v-icon>
        </template>
        <v-app-bar-title>{{ appName }}</v-app-bar-title>
        <v-spacer></v-spacer>
        <div class="d-flex">
            <div class="text-center" >
            <v-btn variant="text" v-for="item in ItemsBarra" :to="item.link" :active="false">
                <template v-slot:prepend>
                    <v-icon color="black" >{{ item.icon }}</v-icon>
                </template>
                {{ item.name }}
                <template v-slot:append v-if="item.link == '/homepage/me'">
                    <v-icon icon="mdi-dots-vertical"></v-icon>
                </template>
            </v-btn>
            <v-menu location="bottom">
                <template v-slot:activator="{ props }">
                    <v-btn
                    color="black"
                    v-bind="props"
                    >
                    <v-icon icon="mdi-account"></v-icon>
                    <span class="ma-2">{{ user.name }}</span>
                    <v-icon icon="mdi-dots-vertical"></v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    :value="index"
                    :to="item.link"
                    >
                    <template v-slot:prepend>
                        <v-icon :icon="item.icon"></v-icon>
                    </template>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="logout()" to="/">
                    <template v-slot:prepend>
                        <v-icon icon="mdi-logout"></v-icon>
                    </template>
                    <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item>
                </v-list>
                </v-menu>
            </div>
        </div>
    </v-app-bar>
</template>

<script>

</script>


<style scoped>

.homebtn.v-btn--active::before {
  opacity: 0;
}
</style>
