<template>
      <v-footer
      app
      name="footer"
    >
      <v-btn
        class="mx-auto"
        variant="text"
      >
        Vue + Vuetify {{ new Date().getFullYear() }}
      </v-btn>
    </v-footer>
</template>