<script setup>
    import { ref } from 'vue';

    const appName = ref(import.meta.env.VITE_APP_NAME)
    const ItemsBarra = ref(
            [
                {
                    name:"Home",
                    icon:"mdi-home",
                    link:"/"
                },
                {
                    name:"About",
                    icon:"mdi-information",
                    link:"/about"
                },
                {
                    name:"Register",
                    icon:"mdi-account-plus",
                    link:"/register"
                },
                {
                    name:"Log In",
                    icon:"mdi-login",
                    link:"/login"
                },      
            ]      
        );
    const iconBarra = ref("mdi-chip")
</script>

<template>
    <v-app-bar>
        <template v-slot:prepend>
          <v-icon style="cursor: pointer" @click="$router.push('/')">{{ iconBarra }}</v-icon>
        </template>
        <v-app-bar-title style="cursor: pointer" @click="$router.push('/')">{{ appName }}</v-app-bar-title>
        <v-spacer></v-spacer>
        <div class="text-center" v-for="item in ItemsBarra">
            <v-btn variant="plain" :to="item.link">
                <template v-slot:prepend>
                    <v-icon color="black" >{{ item.icon }}</v-icon>
                </template>

                {{ item.name }}

            </v-btn>
        </div>
    </v-app-bar>
</template>

<script>

</script>


<style>
</style>

