<template>
    <div class="text-center">
        <v-btn
        prepend-icon="mdi-home"
        append-icon=""
        >
        <template v-slot:prepend>
            <v-icon color="black"></v-icon>
        </template>

        {{ itemName }}

        <template v-slot:append>
            <v-icon color="warning"></v-icon>
        </template>
        </v-btn>
  </div>
</template>

<script setup>
    defineProps({ 
        itemName:String,
    })
</script>
