<script setup>
    import { ref, defineProps, defineEmits, toRefs, onBeforeMount } from 'vue';

    const props = defineProps({
        itemId: {
            type: [String, Number],
            required: true,
        },
        itemName: {
            type: [String, Number],
            required: true
        }
    });

    const emit = defineEmits(['remove']);

    const root = ref(null);
    const { itemId, itemName } = toRefs(props)

    onBeforeMount(() => {
        console.log(`In vue onBeforeUnmount for item ${itemId.value} ${itemName.value}`);
    })

    function handleRemove()
    {
        emit('remove', [root.value, itemName.value]); //HTML, NombreDispositivo
    }

</script>

<template>
    <div ref="root" class="grid-stack-item my-custom-grid-item-component">
        <div class="grid-stack-item-content">
            <div style="display:flex;
                        justify-content:space-between"
                        >
                <p style="flex-grow:1; text-align:center">
                    {{ itemName }}
                </p>
                <button
                    type="button"
                    class="v-btn v-btn--icon v-btn--text theme--light v-size--default"
                    style="margin-right: 20px;"
                    @click="handleRemove"
                >
                    <span class="v-btn__content">
                        <i class="mdi mdi-close"></i> 
                    </span>
                </button>
            </div>
            <div :id="'chart'+itemId"></div> <!-- Aqui se montará el grafico de apexcharts-->
        </div>
    </div>
</template>

<style scoped>

</style>