<script setup>
    import { useQuery } from '@tanstack/vue-query';
    import { fetchDevicesList } from '@/api/devices';
    import { ref, defineEmits } from 'vue';
    
    //VUE QUERY
    const { isLoading, data, error } = useQuery({ 
        queryKey: ['alldevices'], 
        queryFn: fetchDevicesList,
    });

    const chartOptions = ref([
        {name: 'Linea', value : 'line'},
        {name: 'Barras', value : 'bar'},
        {name: 'Area' , value: 'area'}
    ])

    const chartName = ref(null);
    const chartType = ref(null);
    const chartDevice = ref(null);

    const emits = defineEmits(['saveWidget','close'])

    function emitNewWidget(){
        emits('saveWidget',{
            name: chartName.value,
            type: chartType.value,
            device: chartDevice.value
        })
    }
</script>

<template>
    <v-dialog width="30em">
        <v-card prepend-icon="mdi-chart-line" title="Nuevo Grafico">
            <v-card-text>
                <v-row dense>

                    <v-col cols="12">
                        <v-text-field
                            label="Nombre*"
                            hint="Debe ser un nombre/id unico"
                            required
                            v-model="chartName"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12">
                        <v-autocomplete
                            :items="chartOptions"
                            item-title="name"
                            item-value="value"
                            label="Tipo"
                            v-model="chartType"
                            auto-select-first
                        ></v-autocomplete>
                    </v-col>

                    <v-col cols="12">
                        <v-autocomplete
                            v-if="!isLoading"
                            :items="data"
                            label="Dispositivo"
                            item-title="name"
                            item-value="name"
                            auto-select-first
                            v-model="chartDevice"
                        ></v-autocomplete>
                    </v-col>

                </v-row>
                <small class="text-caption text-medium-emphasis">*indicates required field</small>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    text="Close"
                    variant="plain"
                    @click="emits('close')"
                ></v-btn>

                <v-btn
                    color="primary"
                    text="Save"
                    variant="tonal"
                    @click="emitNewWidget()"
                ></v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<style scoped>

</style>