<script setup>
  import { useQuery } from '@tanstack/vue-query';
  import { fetchDashboards } from '@/api/dashboards';

  const emit = defineEmits(['deleteDashboard','updateDashboard','customizeDashboard']);
  const { isSuccess, isError, data, error } = useQuery({ queryKey: ['dashboards'], queryFn: fetchDashboards });

</script>

<template>
    <v-table>
    <thead>
      <tr>
        <th class="text-left font-weight-bold">
          Name
        </th>
        <th class="text-left font-weight-bold">
          Description
        </th>
        <th class="text-left font-weight-bold">
          Edit Dashboard
        </th>
        <th class="text-left font-weight-bold">
          Delete Dashboard
        </th>
        <th class="text-left font-weight-bold">
          Add Elements
        </th>
      </tr>
    </thead>
    <tbody v-if="isSuccess">
        <tr
        v-for="item in data"
        :key="item.id"
        >
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td> <v-btn color="primary" @click="emit('updateDashboard',item)" prepend-icon="mdi-check-circle">Edit</v-btn></td>
        <td> <v-btn color="warning" @click="emit('deleteDashboard',item)" prepend-icon="mdi-delete-circle">Delete</v-btn> </td>
        <td> <v-btn color="success" @click="emit('customizeDashboard',item)" prepend-icon="mdi-chevron-double-right">Customize</v-btn> </td>
      </tr>
    </tbody>
  </v-table>
  <div>
    <span v-if="isError"> {{ error.message }}</span>
  </div>
</template>