<script setup>
    import { ref, watchEffect } from 'vue';

    const props = defineProps(['dashboard']);
    const emits = defineEmits(['close','update','name','description']);

    const name = ref('');
    const desc = ref('');

    //observamos los cambios de las variables reacctivas
    watchEffect(() => name.value = props.dashboard.name );
    watchEffect(() => desc.value = props.dashboard.description );

    function emitInfo(){
        emits('name',name.value);
        emits('description',desc.value);
        emits('update');
    }
</script>

<template>
    <v-dialog width="500" height="600">
        <v-card>
            <v-card-title>
                <span class="text-h5">Dashboard Info</span>
            </v-card-title>
        <v-card-text>
            <v-container>
                <v-row>
                    <v-col>
                        <v-text-field
                        required
                        label="Name*"
                        clearable
                        v-model="name"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-textarea
                        required
                        label="Description"
                        v-model="desc"
                        ></v-textarea>
                    </v-col>
                </v-row>
            </v-container>
            <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="blue-darken-1"
            variant="text"
            @click="emits('close')"
            >
            Close
            </v-btn>
            <v-btn
            color="green"
            variant="text"
            @click="emitInfo"
            >
            Save
            </v-btn>
        </v-card-actions>
        </v-card>
    </v-dialog>
</template>