<script setup>
    const props = defineProps(['alertValue','alertType','alertText'])
</script>

<template>
    <v-alert
        :value="alertValue"
        icon="mdi-information"
        transition="slide-x-transition"
        :type="alertType"
        :text="alertText"
        closable
        id="custom_alert_element"
        >
    </v-alert>
</template>

<style scoped>
    #custom_alert_element{
        position:absolute;
        top:10;
        right: 0;
        z-index: 9999;
    }
</style>