<script setup>
    import { useDialogStore } from '@/stores/dialogstore';
    import { storeToRefs } from 'pinia';

    const store = useDialogStore()
    const { dialog, dialogMessage, title, color } = storeToRefs(store)
    const { changeStatus } = store
</script>
<template>
    <!-- Bug en vuetify hide-overlay no funciona -->
<v-dialog id="mydialog" v-model="dialog" width="auto" content-class="my-custom-dialog" >
    <v-card>
        <v-toolbar density="compact" dark :color="color">
            <span class="ml-2">{{ title }}</span>
            <v-spacer></v-spacer>
            <v-btn icon dark @click="changeStatus">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-toolbar>

        <v-card-text>
            <div v-if="Array.isArray(dialogMessage)">
                <div v-for="item in dialogMessage" :key="item.id">
                    {{ item }}
                </div>
            </div>
            <div v-else>
                {{ dialogMessage }}
            </div>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn variant="text" @click="changeStatus">
                <span>OK</span>
            </v-btn>
        </v-card-actions>

    </v-card>
</v-dialog>
</template>

<style scoped>
  :deep(.my-custom-dialog) {
    position: absolute;
    right: 0;
    top:0;
  }
  #mydialog{
    background-color: transparent;
  }
</style>


