<script setup>
    import { fetchAllDevices } from '@/api/homepage';
    import { useQuery } from '@tanstack/vue-query';
    
    const props = defineProps(['number','object']);
    const stadisticsLength = props.object.length;

</script>

<template>
    <v-row no-gutters justify="space-around">
        <v-col cols="auto" v-for="item in props.object" :key="item">
            <v-card>
                <v-card-item>
                    <div>
                        <div class="text-h6 mb-1" :class="'text-'+item.class"> {{ item.headline }} </div>
                        <div class="text-h2 text-center">{{ item.text }}</div>
                    </div>
                </v-card-item>
            </v-card>
        </v-col>
    </v-row>
</template>