<script setup>
    import { fetchDevicesList } from '@/api/devices';
    import { fetchDashboards } from '@/api/dashboards';

    import { useQuery } from '@tanstack/vue-query';
    
    const useDevicesQuery = useQuery({
        queryKey: ['alldevices'],
        queryFn: fetchDevicesList
    });

    const useDashboardsQuery = useQuery({
        queryKey: ['alldashboards'],
        queryFn: fetchDashboards
    });
</script>

<template>
    <v-row no-gutters justify="space-around">
        <v-col cols="auto">
            <v-card>
                <v-card-item>
                    <div>
                        <div class="text-h6 mb-1 text-green-darken-1"> Total de Dashboards </div>
                        <span v-if="useDashboardsQuery.isPending.value"><v-progress-circular indeterminate></v-progress-circular></span>
                        <span v-else-if="useDashboardsQuery.isError.value"> Error</span>
                        <div v-else-if="useDashboardsQuery.data.value" class="text-h2 text-center"> {{ useDashboardsQuery.data.value.length }}</div>
                    </div>
                </v-card-item>
            </v-card>
        </v-col>
        <v-col cols="auto">
            <v-card>
                <v-card-item>
                    <div>
                        <div class="text-h6 mb-1 text-orange-darken-1"> Almacenamiento </div>
                        <div class="text-h2 text-center"> Sin Información </div>
                    </div>
                </v-card-item>
            </v-card>
        </v-col>
        <v-col cols="auto">
            <v-card>
                <v-card-item>
                    <div>
                        <div class="text-h6 mb-1 text-brown-darken-1"> Numero de Dispositivos </div>
                        <span v-if="useDevicesQuery.isPending.value"><v-progress-circular indeterminate></v-progress-circular></span>
                        <span v-else-if="useDevicesQuery.isError.value"> Error</span>
                        <div v-else-if="useDevicesQuery.data.value" class="text-h2 text-center"> {{ useDevicesQuery.data.value.length }}</div>
                    </div>
                </v-card-item>
            </v-card>
        </v-col>        
    </v-row>
</template>