<script setup>
    import DashboardNavigationBar from '../../components/navigation/DashNavigationBar.vue';
    import DashNavigationDrawer from '../../components/navigation/DashNavigationDrawer.vue';

</script>

<template>
    <v-layout>
        <DashboardNavigationBar/>
        <DashNavigationDrawer/>
        <v-main class="bg-blue-grey-lighten-5">
            <slot/>
        </v-main>
    </v-layout>
</template>


<script>
    import { defineComponent } from 'vue';

    export default defineComponent({
        name:'DashboardLayout',
        
    })
</script>
