<script setup>
    import { defineComponent } from 'vue';
    import FooterBar from '../../components/navigation/FooterBar.vue';
    import NavigationBar from '../../components/navigation/NavigationBar.vue';
    import Dialog from '../../components/visual/Dialog.vue';
</script>

<template>
    <v-layout>
        <Dialog></Dialog>
        <NavigationBar/>
        <v-main>
            <slot/>
        </v-main>
    <FooterBar/>
    </v-layout>
</template>

<style scoped>
.v-main {
  background-image: url("https://cdn.vuetifyjs.com/images/parallax/material.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
</style>

<script>
export default defineComponent({
    name:'DefaultLayout',
    
})
</script>